# Ignore Visual Studio files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore directories
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Ignore the Assets directory
Content/Assets/

# Include only blueprints and C++ source files
!Content/**/*.uasset
!Content/**/*.umap
!Config/
!Source/

# Ignore unnecessary files
*.log
*.tmp
*.exe
*.dll
*.pdb
*.app
*.dSYM
*.apk
*.a
*.lib
*.ds_store
*.psd
